.card-container {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
}
.card {
  width: 300px;
  min-height: 508px;
  background-color: var(--color-secondary);
  background-color: #02afc5;
}

.card__info {
  display: grid;
  grid-template-columns: auto 1fr;
}
.card__content {
  padding: 10px 20px 20px;
  display: grid;
  gap: 20px;
}

.card__info-description {
  text-align: right;
}

li {
  list-style: none;
}

.card-container_new {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  border: 5px solid #ebbd34;
  justify-content: center;
  border-radius: 5px;
}

.card__title {
  background-color: #ebbd34;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

.card__image {
  border-radius: 50%;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}
