.card-container {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  min-height: 185px;
}
.card {
  width: 300px;
  min-height: 508px;
  background-color: var(--color-secondary);
}

.card__info {
  display: grid;
  grid-template-columns: auto 1fr;
}
.card__content {
  padding: 10px 20px 20px;
  display: grid;
  gap: 20px;
}

.card__info-description {
  text-align: right;
}

li {
  list-style: none;
}

.card__title {
}
